@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model Group1_7_Project1_IS413.Models.ViewModels.TourListViewModel

@foreach (var x in Model.Tours)
{
    <div class="card card-outline-primary m-1 p-1">
        <div class="bg-faded p-1">
            <p>Tour ID: @x.TourId</p>
            <p>Day and Time: @x.DayTime</p>
            <p>Group Name: @x.GroupName</p>
            <p>Group Size: @x.GroupSize</p>
            <p>Phone Number: @x.PhoneNum</p>
            <p>Email: @x.Email</p>
        </div>
    </div>
}