<!--this page prints out all of the appointments that have been made-->
@model Group1_7_Project1_IS413.Models.ViewModels.TourListViewModel


<!--for each object stored in the database (aka an appointment), prints out that appointment's info-->
@foreach (var x in Model.Tours)
{
    <div class="card card-outline-primary m-1 p-1">
        <div class="bg-faded p-1">
            <p>Tour ID: @x.TourId</p>
            <p>Day and Time: @x.DayTime</p>
            <p>Group Name: @x.GroupName</p>
            <p>Group Size: @x.GroupSize</p>
            <p>Phone Number: @x.PhoneNum</p>
            <p>Email: @x.Email</p>
        </div>
    </div>
}